*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 130vh;
  font-family: 'Poppins', sans-serif;
}


h1 {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  color: #333;
}

/* estilos de traducir palabra*/

.main{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

.input-word{
  width: 30%;
  height: 10%;
  display: flex;
  justify-content: center;
}

.wordInput {
  width: 70%;
  height: 70%;
  border: none;
  padding: 1.2rem;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 20px 20px 60px #c5c5c5,
     -20px -20px 60px #ffffff;
  transition: 0.3s;
 }
 
 .wordInput:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5,
     inset -20px -20px 60px #ffffff;
  transition: 0.3s;
 }

.radio-buttons{
  width: 20%;
  height: 8%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

button {
  height: 50px;
  font-size: 18px;
  text-transform: uppercase;
 }

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #212121;
  box-shadow: 0 0 0 2px #212121;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #212121;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: cadetblue;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px cornflowerblue;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}


/* estilos de resultado de significado de palabra*/

.result-search{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}


.result-search > h1{
  width: 100%;
  font-size: 25px;
}

.result-search > p{
  width: 100%;
  height: 30%;
  font-family: 'Times New Roman', Times, serif;
}


h2{
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  color: #333;
}
 
.father-section{
  width: 100%;
  height: 100%;
  display: flex;
}

/* Estilos diccionario */

.dictionary{
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-dictionary{
  width: 100%;
  height: 10%;
}

.btn {
  width: 130px;
  font-size: 12px;
  cursor: pointer;
  background-color: #171717;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all .4s;
 }
 
 .btn:hover {
  border-radius: 5px;
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px cadetblue,
   0 15px 0 -4px #39a2db,
   0 16px 10px -3px #39a2db;
 }
 
 .btn:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px cadetblue,
   0 8px 0 -4px #39a2db,
   0 12px 10px -3px #39a2db;
 }

 .btn-2 {
  width: 130px;
  height: 40px;
  font-size: 12px;
  cursor: pointer;
  background-color: #171717;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all .4s;
 }
 
 .btn-2:hover {
  border-radius: 5px;
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px cadetblue,
   0 15px 0 -4px #39a2db,
   0 16px 10px -3px #39a2db;
 }
 
 .btn-2:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px cadetblue,
   0 8px 0 -4px #39a2db,
   0 12px 10px -3px #39a2db;
 }

.title-category{
  width: 100%;
  gap: 10px;
  height: 15%;
  font-family: 'Times New Roman', Times, serif;
  color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-category{
  width: 60%;
  height: 20%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.table-result{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table-result > h1{
  font-size: 25px;
}


.table-result > p{
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
}

/* section formulario*/



.form-words-news{
  width: 45%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-form{
  width: 100%;
  height: 15%;
}

.form-words-news > #addWordForm{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 25px;
}

.input-group{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}


.input {
  max-width: 190px;
  height: 44px;
  background-color: #05060f0a;
  border-radius: .5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.label {
  display: block;
  margin-bottom: .3rem;
  font-size: .9rem;
  font-weight: bold;
  color: #39a2db;
  font-family: 'Times New Roman', Times, serif;
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input:hover, .input:focus, .input-group:hover .input {
  outline: none;
  border-color: #05060f;
}

.input-group:hover .label, .input:focus {
  color: cadetblue;
}

.radio-category-form{
  width: 50%;
  height: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}


.btn {
  width: 130px;
  height: 40px;
  font-size: 12px;
  cursor: pointer;
  background-color: #171717;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all .4s;
 }
 
 .btn:hover {
  border-radius: 5px;
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px cadetblue,
   0 15px 0 -4px #39a2db,
   0 16px 10px -3px #39a2db;
 }
 
 .btn:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px cadetblue,
   0 8px 0 -4px #39a2db,
   0 12px 10px -3px #39a2db;
 }

footer{
  width: 100%;
  height: 20%;
  background-color: #333;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}


footer > h1{
  color: white;
}


footer > h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}